* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */

 header {
    max-height: max-content;
    background: rgba(177, 209, 130, 0.12);
}

#round {
    position: absolute;
    max-width: 600px;
    top: 0%;
    right: 0%;
    z-index: -1;
}

#vegetables {
    position: absolute;
    max-width: 600px;
    top: 0%;
    right: 0%;
}

#basket {
    position: absolute;
    top: 0%;
    max-width: 840px;
    right: 14%;
}

header>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: fit-content;
    padding: 140px;
    gap: 40px;
    z-index: 999;
} 

#lorem {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.43);
}

#ipsum {
    max-width: 340px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    color: #000000;
}

.signupBtn {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background: #688F4E;
    transform: scale(1.5);
    position: relative;
    left: 20px;
}

.signupBtn:hover {
    background: #2B463C;
    color: #fff;
}

.insideBtn {
    position: relative;
    top: 13px;
    left: 20px;
    color: #fff;
}

/* Section 1 */


.section {
    height: max-content;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    color: #2B463C;
}

.categoryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.categoryItems {
    border: 1px solid #F2F2F2;
    box-shadow: -50px 50px 200px 0px #f2f2f2;
    padding: 20px;
}

.categoryItems>h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding-top: 10px;
}

.arrow-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.arrows {
    display: flex;
    gap: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px;
    gap: 10px;
}

.containerItems {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgb(0 0 0 / 10%);
    padding: 20px;
    min-height: 500px;
    max-height: 500px;
    max-width: 368px;
}

.containerItems > img {
    object-fit:contain;
}

.details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.details>h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}

.capacity {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.66);
}

.currPrice {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.prevPrice {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 490;
    font-size: 24px;
    line-height: 36px;
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.71);
}

#Rarrow {
    transform: rotate(180deg);
} 

/* Section 2 */

.inp {
    border: 1px solid #688F4E;
    border-radius: 16px;
    height: 50px;
    width: 260px;
    padding-left: 40px;
}

.add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Section 4 */

.section4 {
    background: #F4F1E9;
}

.section4>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.innerFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 40px;
}

 .innerFlex>h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
    color: #2B463C;
}

.sub {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.3px;
    color: #2B463C;
}

.innerFlex>input {
    background: #FFFFFF;
    border: 1px solid #2B463C;
    border-radius: 50px;
    height: 100px;
    padding-left: 40px;
} 


/* Footer */

.footer {
    background: #688F4E;
    padding: 100px 0px;
    margin-top: 100px;
}

.l-footer {
    display: flex;
    color: #fff;
    justify-content: space-evenly;
    line-height: 40px;
    flex-wrap: wrap;
    align-items: stretch;
}

.l-footer>ul>li>a:hover {
    color: #2B463C;
}

.l-footer>ul>li>h2 {
    color: #FFD2DD;
    padding-bottom: 10px;
}

.r-footer {
    display: flex;
    padding-top: 100px;
    gap: 400px;
    color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.r-footer>div>a:hover {
    color: #2B463C;
}

.terms {
    display: flex;
    gap: 70px;
}

.terms>span>a:hover {
    color: #2B463C;
}

.icons {
    display: flex;
    gap: 80px;
}

