@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  box-sizing:border-box;
  background: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  z-index: 999;
}

#policy {
  left: 88%;
}

.rightPart {
  height: 700px;
  border-left: 1px solid #688F4E
}

.rightPart>button {
  left: 165px;
  top: 190px;
}

.rightPart>p {
  left: 165px;
  top: 170px;
  width: fit-content;
}

.greenBtn {
  left: 143px;
  top: 320px;
}

#agreeCheckbox {
  position: relative;
  left: 148px;
  top: 280px;
}

#forgotPswd {
  left: 30px;
  top: 290px;
}

#password {
  left: -366px;
  top: 250px;
}

#passwordInput {
  left: 148px;
  top: 235px;
}

#phoneInput {
  left: 13px;
  top: 180px;
}

.signin {
  left: 148px;
  top: 113px;
}

.rightPart>h1 {
  left: 162px;
  top: 167px;
}

#newUser {
  left: 148px;
  top: 107px;
}

#phone {
  left: 148px;
  top: 130px;
}

.loginBody {
  height: 820px;
}

@layer components {
  .nav {
    @apply relative place-content-evenly 
  }

 .nav>ul {
    @apply flex flex-row space-x-8 
  }

  .nav>ul>li{
    @apply gap-x-3 text-center py-10 hover:text-green-main-green
  }

  .menu {
    @apply w-10 h-12 hidden 
  }

  .phoneMenuItems {
    @apply hidden
  }

  .navbar {
    @apply hidden
  }

  .logo {
    @apply box-border relative flex place-content-evenly container mx-auto
  }

  .navBtns {
    @apply relative py-3 -my-3 rounded-md w-28
  }

  #signup {
    @apply bg-green-main-green text-white hover:bg-green-deep-green
  }

  #login {
    @apply border-2 border-green-main-green hover:bg-green-deep-green hover:text-white
  }

  .loginBody {
   @apply grid grid-cols-2 container bg-white
  }

  .signin {
    @apply relative items-center font-medium text-2xl leading-9
  }

  .rightPart>h1 {
    @apply relative items-center font-medium text-2xl leading-9 m-0 w-44 
  }

  .secondary {
    @apply font-light text-sm leading-6 tracking-wide items-center relative text-grey-secondary
  }

  #newUser>span {
    @apply text-green-main-green
  }

  .input {
    @apply border-2 rounded-md w-96 h-16 relative
  }

  .greenBtn {
    @apply border-2 rounded-md w-96 h-16 relative bg-green-main-green text-white hover:bg-green-deep-green
  }

  .leftPart>h1 {
    @apply min-w-fit
  }


}


@media (max-width: 1280px) {
  
  .signin {
    left: 22px;
    top: 113px;
  } 

  .input {
    width: 21rem;
    left: 18px;
  }

  #newUser {
    left: 22px;
    top: 115px;
  }

  #phone {
    left: 22px;
    top: 130px;
  }

  #phoneInput {
    left: -114px;
    top: 180px;
  }

  #password {
    left: 22px;
    top: 180px;
  }

  #passwordInput {
    left: -88px;
    top: 230px;
  }

  #forgotPswd {
    left: 235px;
    top: 240px;
  }

  #agreeCheckbox {
    left: 22px;
    top: 250px;
  }

  .greenBtn {
    left: 20px;
    top: 250px;
    width: 21rem;
  }

  .rightPart>button {
    left: 110px;
  }

  #policy {
    left: 440px;
  }


}

@media (max-width: 1024px) {
  
  #phoneInput {
    left: -113px;
    top: 180px;
  }
  .greenBtn {
    width: 22rem;
  }
  .input {
    width: 22rem;
  }

  .rightPart {
    height: 600px;  
  }

} 

@media (max-width: 768px) {
  
  .navBtns {
    width: 4rem;
  }

  .greenBtn {
    width: 20rem;
    top: 220px;
  }

  .input {
    width: 20rem;
  }

  .rightPart>h1 {
    left: 97px;
  }

  .rightPart>p {
    left: 87px;
  }

  .rightPart>button {
    left: 40px;
  }

  #phoneInput {
    left: 18px;
    top: 140px;
  }

  #password {
    left: 22px;
    top: 160px;
  }

  #passwordInput {
    left: 18px;
    top: 170px;
  }

  #forgotPswd {
    left: 220px;
    top: 180px;
  }

  #agreeCheckbox {
    left: 22px;
    top: 190px;
  }

  #policy {
    left: 300px;
  }



}

@media (max-width: 425px) {
  .nav {
    display: none;
  }
  
  .nav>ul {
    display: none;
  }

  .navbar {
    display: block
  }

  .logo {
    width: 150px;
    height: 70px;
  }

  .menu {
    display: block;
    align-self: center;  
  }

  .phoneMenuItems{
    display: block;
  }

  .nav-item {
    padding: 0px 0.5rem;
  }

  .nav-item:hover {
    background: #12422c;
  }

  .signin {
    top: 10px;
    left: 35px;
  }

  .input {
    width: 18rem;
  }

  #newUser {
    left: 35px;
    top: 10px;
    width: 180px;
  }

  #phone {
    left: 35px;
    top: 25px;
  }

  #phoneInput {
    left: 35px;
    top: 35px;
  }

  #password {
    left: 35px;
    top: 50px;
  }

  #passwordInput {
    left: 35px;
    top: 60px;
  }

  #forgotPswd {
    left: 210px;
    top: 70px;
  }

  #agreeCheckbox {
    left: 35px;
    top: 80px;
  }

  .greenBtn {
    width: 18rem;
    left: 35px;
    top: 90px;
  }

  .rightPart {
    border: none;
    height: 430px;
  }

  .rightPart>h1 {
    left: 35px;
    top: 165px;
  }

  .rightPart>p {
    left: 35px;
  }

  .rightPart>button {
    left: 35px;
  }

  #signup {
    background: none;
  }

  #signup:hover {
    background: #12422c;
  }

  #login {
    border: none;
  }

  #login:hover {
    background: #12422c;
  }

  .navbar-brand {
    width: 222px;
    height: 150px;
  
  }

  .loginBody {
    grid-template-columns: none;
    width: fit-content;
    margin: 0px;
    background: none;
  }

  #policy {
    top: -100px;
    left: 130px;
    width: fit-content;
  }


}



